@{
    ViewBag.Title = "ReportOrder";
}
<script>
    window.drpdata = window.drpdata || {};
    window.drpdata['viewstatus'] = [];
    window.drpdata['orderstatus'] = [];
    @foreach (var item in FCake.Core.Common.EnumHelper.GetCacheList<FCake.Domain.Enums.ReviewStatus>(false))
    {
        if(int.Parse(item.Value)<2)
        {
        @:window.drpdata['viewstatus'].push({ value: '@item.Value', text: '@item.Text' });
                                }
                                }
    @foreach (var item in FCake.Core.Common.EnumHelper.GetCacheList<FCake.Domain.Enums.OrderStatus>(true))
    {
        if (item.Value != "7" && item.Value != "90") { 
        @:window.drpdata['orderstatus'].push({ value: '@item.Value', text: '@item.Text' });
        }
                                }
</script>
<style type="text/css">
    #toobal > div {
        margin: 5px;
    }
</style>
<div id="toobal">
    <div>
        <label>下单时间从</label>
        <input class="Wdate" type="text" style="border-radius: 5px; border: 1px solid #f8f8f8; height: 30px" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'endTime\',{M:-3});}' })" id="beginTime" name="beginTime" readonly="readonly" />
        <label>到</label>
        <input class="Wdate" type="text" style="border-radius: 5px; border: 1px solid #f8f8f8; height: 30px" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'beginTime\',{M:3});}' })" id="endTime" name="endTime" readonly="readonly" />
        <label>要求送达时间从</label>
        <input class="Wdate" type="text" style="border-radius: 5px; border: 1px solid #f8f8f8; height: 30px" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'reqEndTime\',{M:-3});}' })" id="reqBeginTime" name="reqBeginTime" readonly="readonly" />
        <label>到</label>
        <input class="Wdate" type="text" style="border-radius: 5px; border: 1px solid #f8f8f8; height: 30px" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'reqBeginTime\',{M:3});}' })" id="reqEndTime" name="reqEndTime" readonly="readonly" /><br />
        审核状态：<input id="reviewStatus" name="reviewStatus" class="easyui-combobox datacontrol" data-options="valueField: 'value', textField: 'text', data:window.drpdata['viewstatus'], panelHeight: 'auto', editable: false,width:140,onLoadSuccess:function(data){ $('#reviewStatus').combobox('setValue',data[1].text);}" />
        订单状态：<input id="orderStatus" name="orderStatus" class="easyui-combobox datacontrol" data-options="valueField: 'value', textField: 'text', data:window.drpdata['orderstatus'], panelHeight: 'auto', editable: false,width:140" />
        <input type="button" class="easyui-linkbutton cus1 linkbtn" id="search" style="width:90px" value="查询" />
        @*<input type="button" id="export" style="width:90px" value="导出到Excel" />*@
        <a href="#" class="easyui-linkbutton cus1 linkbtn" data-options="" onclick="Save_Excel()">导出Excel</a>
    </div>
</div>
<table id="dg"></table>

<div id="dlg" class="easyui-dialog" title="Download Dialog" data-options="iconCls:'icon-save'" style="width:500px;height:200px;padding:10px;">
    <div id="dlg_top"></div>
    <div id="buttonbar" style="text-align:center;">
        <a id="downloadbtn" href="#" class="easyui-linkbutton cus1 linkbtn" data-options="iconCls:'icon-add'">点击下载</a>
    </div>
    <div id="dlg_bottom"></div>
</div>
<script type="text/javascript">
    $grid = $("#dg");
    $(function () {
        $('#dlg').dialog('close');
    })
    $(function () {
        $("#dg").datagrid({
            toolbar: "#toobal",
            rownumbers: true,
            singleSelect: true,
            nowrap: false,
            autoRowHeight: false,
            fitColumns: false, //自适应
            striped: true, //True 奇偶行使用不同背景色
            pagination: true,
            pageSize: 100,
            pageList: [100],
            fit: true,
            onLoadSuccess: loadSuccess,
            //onClickRow: loadSuccess,
            //url: "@Url.Action("GetReportOrder", "Report")" + "?beginTime=&endTime=",
            data:{total:0, rows:[]},
            columns: [[
                { field: 'OrderNo', title: '订单号', width: 100, align: 'center' },
                { field: 'OrderSource', title: '订单方式', width: 80, align: 'center' },
                { field: 'OrderTime', title: '下单日期', width: 100, align: 'center' },
                { field: 'ReviceTime', title: '送货日期', width: 100, align: 'center' },
                { field: 'ProductName', title: '产品名称', width: 150, align: 'center' },
                { field: 'ReviewStatus', title: '审核状态', width: 60, align: 'center' },
                { field: 'OrderStatus', title: '订单状态', width: 60, align: 'center' },
                { field: 'SizeTitle', title: '规格', width: 80, align: 'center' },
                { field: 'Number', title: '数量', width: 80, align: 'center' },
                { field: 'ProductPrice', title: '单价', width: 80, align: 'center' },
                { field: 'NeedPay', title: '需支付', width: 80, align: 'center' },
                { field: 'ActualPay', title: '实际支付', width: 80, align: 'center' },
                { field: 'TotalPrice', title: '总价', width: 80, align: 'center' },
                { field: 'CouponPay', title: '优惠券支付', width: 80, align: 'center' },
                { field: 'GiftCardPay', title: '代金卡支付', width: 80, align: 'center' },
                { field: 'IntegralPay', title: '积分支付', width: 80, align: 'center' },
                { field: 'PayWay', title: '支付方式', width: 100, align: 'center' },
                { field: 'TradeNo', title: '支付单号', width: 200, align: 'center' }

            ]]
        })
        //查询点击事件
        $("#search").click(function () {
            var begintime = $("#beginTime").val();
            var endtime = $("#endTime").val();
            var reqBeginTime = $("#reqBeginTime").val();
            var reqEndTime = $("#reqEndTime").val();
            if (begintime == "" && endtime == "" && reqBeginTime == "" && reqEndTime == "") {
                alert("请选择统计时间段，下单时间或送达时间!");
                return false;
            } else {
                if ((begintime != "" && endtime == "") || (begintime == "" && endtime != "") || (reqBeginTime != "" && reqEndTime == "") || (reqBeginTime == "" && reqEndTime != "")) {
                    alert("请选择完整时间段!");
                    return false;
                }
            }

            var reviewStatus = $("#reviewStatus").combobox('getValue');
            var pageIndex = $("#dg").datagrid("options").pageNumber;
            var pageSize = $("#dg").datagrid("options").pageSize;
            //orderstatus
            var orderStatus = $("#orderStatus").combobox('getValue');

            $("#dg").datagrid({
                url: "@Url.Action("GetReportOrder", "Report")" + "?beginTime=" + begintime + "&endTime=" + endtime + "&reqBeginTime=" + reqBeginTime + "&reqEndTime=" + reqEndTime + "&reviewStatus=" + reviewStatus + "&pageSize=" + pageSize + "&pageIndex=" + pageIndex + "&orderStatus=" + orderStatus
            })
        })
    })
    //取枚举对应值
    function formatColumn(value, list) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].value == value) {
                if (list[i].value != "")
                    return list[i].text;
            }
        }
        return value;
    }
    //导出到excel
    function Save_Excel() {
        var begintime = $("#beginTime").val();
        var endtime = $("#endTime").val();
        var reqBeginTime = $("#reqBeginTime").val();
        var reqEndTime = $("#reqEndTime").val();
        if (begintime == "" && endtime == "" && reqBeginTime == "" && reqEndTime == "") {
            alert("请选择统计时间段，下单时间或送达时间!");
            return false;
        } else {
            if ((begintime != "" && endtime == "") || (begintime == "" && endtime != "") || (reqBeginTime != "" && reqEndTime == "") || (reqBeginTime == "" && reqEndTime != "")) {
                alert("请选择完整时间段!");
                return false;
            }
        }
        var reviewStatus = $("#reviewStatus").combobox('getValue');
        var pageIndex = $("#dg").datagrid("options").pageNumber;
        var pageSize = $("#dg").datagrid("options").pageSize;
        //orderstatus
        var orderStatus = $("#orderStatus").combobox('getValue');
        $grid.datagrid("loading", "正在生成Excel，请稍后");
        $.ajax({
            url: '@Url.Action("ExportOrderReportToExcel")',
            type: 'post',
            data: { beginTime: begintime, endTime: endtime, reqBeginTime: reqBeginTime, reqEndTime: reqEndTime, reviewStatus: reviewStatus, pageSize: pageSize, page: pageIndex, orderStatus: orderStatus },
            success: function (data) {
                $grid.datagrid("loaded");
                if (data.successed) {

                    DownLoad_Dialog(data.data.replace(/\"/g, ""));

                } else {
                    alert(data.message)
                }
            }
        });
    }
    function DownLoad_Dialog(url) {
        $("#dlg_top").html("<h1>导出成功!</h1><br/>");
        $("#downloadbtn").attr("href", url);
        $("#dlg_bottom").html("</br>提示：右键可以另存");
        $('#dlg').dialog('open');
    }
    var merges;
    function loadSuccess() {
        merges = $("#dg").datagrid('getRows');
        if (merges.length > 0) {
            mergeCellsByField("dg", "OrderSource,OrderNo,OrderTime,ReviceTime,ReviewStatus,OrderStatus,NeedPay,ActualPay,TotalPrice,CouponPay,GiftCardPay,IntegralPay,PayWay,TradeNo", "0,1,2,3,5,6,10,11,12,13,14,15,16,17");
        }

    }
    /**
    * EasyUI DataGrid根据字段动态合并单元格
    * param tableID 要合并table的id
    * param colList 要合并的列,用逗号分隔(例如："name,department,office");
    * param mainColIndex 要合并的列索引集（针对要合并的列）
    例如："0,1,2" 当然也可以是"0"也可以是"0,1"或者"1,2"这样
    */
    function mergeCellsByField(tableID, colList, ColIndexArr) {
        var ColArray = colList.split(",");
        var indexArr = ColIndexArr.split(",");
        var tTable = $('#' + tableID);
        var TableRowCnts = tTable.datagrid("getRows").length;
        var tmpA;
        var tmpB;
        var PerTxt = "";
        var CurTxt = "";
        var alertStr = "";
        for (var i = 0; i <= TableRowCnts ; i++) {
            //整理逻辑如果 几个关键列数据相等


            var tmp = ""
            if (i == TableRowCnts) {
                CurTxt = "";
            }
            else {
                for (var kk = 0; kk < indexArr.length; kk++) {
                    tmp += tTable.datagrid("getRows")[i][ColArray[indexArr[kk]]];
                }
                CurTxt = tmp
            }
            if (PerTxt == CurTxt) {
                tmpA += 1;
            }
            else {
                tmpB += tmpA;
                for (var j = 0; j < ColArray.length; j++) {
                    tTable.datagrid('mergeCells', {
                        index: i - tmpA,
                        field: ColArray[j],
                        rowspan: tmpA,
                        colspan: null
                    });
                }
                tmpA = 1;
            }
            PerTxt = CurTxt;
        }
    }

</script>
