<footer>
    <div class="footer visible-xs">
        <div class="l">
            <p>订购专线：400-056-9565 |客服电话：4000-569-565</p>
            <p>Cpoyright©fancake官网商城2013-2023</p>
            <p> 闽ICP备14021965号</p>
            <div class="nav" style="margin-top: 10px; font-size: 0.825em; ">
                <a href="@Url.Action("AboutUs","Home")">关于我们</a>
                <a href="@Url.Action("ContactUs", "Home")">联系我们</a>
                <a href="@Url.Action("OrderHelp", "Home")">订购帮助</a>
                <a href="@Url.Action("Cooperation", "Home")">企业试吃</a>
            </div>
        </div>
        <div class="r" style="margin-top:66px;">
            <img src="@Url.Content("~/content/images/2wm1.png")" style="margin-right:10px;"/>
            <img src="@Url.Content("~/content/images/2wm2.png")" />
        </div>
    </div>
    <div class="footer visible-sm visible-md visible-lg" style="height: 150px;">
        <div class="l" style="font-size:1.05em;">
            <p>订购专线：400-0569-565 |客服电话：4000-569-565 |客服邮箱：service@fancake.cn</p>
            <p>Copyright©fancake官网商城2013-2023，版权所有 闽ICP备14021965号</p>
            <div class="nav">
                <a href="@Url.Action("AboutUs","Home")">关于我们</a>
                <a href="@Url.Action("ContactUs", "Home")">联系我们</a>
                <a href="@Url.Action("OrderHelp", "Home")">订购帮助</a>
                <a href="@Url.Action("Cooperation", "Home")">企业试吃</a>
            </div>
        </div>
        <div class="r" style="margin-top:20px;">
            <!-- 由于枫客申请微信推广需要暂时注释二维码图片-fish-update-20151104 -->
            @*<img src="@Url.Content("~/content/images/2wm.png")" />*@
        </div>
    </div>
</footer>